# {{ ansible_managed }}
# https://cluster-api.sigs.k8s.io/user/quick-start.html#install-a-cloud-provider

[Global]
auth-url="{{openstack_auth_url}}"
application-credential-id="{{openstack_application_credential_id}}"
application-credential-secret="{{openstack_application_credential_secret}}"
region="{{openstack_region}}"
domain-name="{{openstack_domain_name}}"
