# {{ ansible_managed }}
---
clusterctl:
  config:
    kubeconfig: "{{ kubeconfig_path }}"
providers:
  - name: "k3s"
    url: "https://github.com/k3s-io/cluster-api-k3s/releases/v{{k3s_capi_release}}/bootstrap-components.yaml"
    type: "BootstrapProvider"
  - name: "k3s"
    url: "https://github.com/k3s-io/cluster-api-k3s/releases/v{{k3s_capi_release}}/control-plane-components.yaml"
    type: "ControlPlaneProvider"
