---
apiVersion: clusterstack.x-k8s.io/v1alpha1
kind: ClusterStack

metadata:
  name: openstack-{{ cluster_release_version }}
  namespace: {{ cluster_namespace }}

spec:
  provider: openstack
  name: {{ cluster_series }}
  kubernetesVersion: {{ kubernetes_relase }}
  channel: custom
  autoSubscribe: false
  noProvider: true
  versions: {{ cluster_release_version }}
