---
apiVersion: {{ cluster_api_version }}
kind: ClusterStack

metadata:
  name: openstack-{{ cluster_release_version | replace(".", "-") }}
  namespace: {{ cluster_namespace }}

spec:
  autoSubscribe: false
  channel: stable
  kubernetesVersion: {{ kubernetes_release }}
  name: {{ cluster_series }}
  noProvider: true
  provider: openstack
  versions: {{ cluster_release }}
