# {{ ansible_managed }}
---
apiVersion: clusterstack.x-k8s.io/v1alpha1
kind: ClusterStack
metadata:
  name: clusterstack
  namespace: {{ cluster_namespace }}
spec:
  provider: openstack
  name: {{ cluster_series }}
  kubernetesVersion: "{{ cluster_release_version }}"
  channel: {{ cluster_series_channel }}
  autoSubscribe: false
  providerRef:
    apiVersion: infrastructure.clusterstack.x-k8s.io/v1alpha1
    kind: OpenStackClusterStackReleaseTemplate
    name: cspotemplate
  versions:
    - {{ cluster_series_version }}

---
apiVersion: infrastructure.clusterstack.x-k8s.io/v1alpha1
kind: OpenStackClusterStackReleaseTemplate
metadata:
  name: cspotemplate
  namespace: {{ cluster_namespace }}
spec:
  template:
    spec:
      identityRef:
        kind: Secret
        name: {{ cluster_secret }}
