# {{ ansible_managed }}

#
# https://github.com/SovereignCloudStack/cluster-stacks/tree/main/providers/openstack/scs2
#

---
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_namespace }}
  labels:
    managed-secret: clouds-yaml
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
        - {{ cluster_cidr_pods }}
    serviceDomain: {{ cluster_services_domain }}
    services:
      cidrBlocks:
        - {{ cluster_cidr_services }}
  topology:
    variables:
      - name: controller_flavor
        value: "{{ openstack_controlplane_flavor }}"
      - name: worker_flavor
        value: "{{ openstack_worker_flavor }}"
      - name: worker_root_disk
        value: {{ openstack_worker_rootdisk_size }}
      - name: external_id
        value: "{{ openstack_external_network_id }}"
    class: "{{ cluster_class | replace(".", "-") }}"
    classNamespace: {{ cluster_namespace }}
    controlPlane:
      replicas: {{ cluster_controlplane_replicas }}
    version: v{{ cluster_release }}
    workers:
      machineDeployments:
        - class: default-worker
          name: md-0
          replicas: {{ cluster_workers_replicas }}
