---
apiVersion: v1
kind: Secret
type: Opaque

data:
  clouds.yaml: {{ clouds_yaml_base64 }}
  cloudName: {{ cloud_name_base64 }}

metadata:
  name: openstack
  namespace: {{ cluster_namespace }}
  labels:
    clusterctl.cluster.x-k8s.io/move: "true"

