# {{ ansible_managed }}
---
apiVersion: addons.cluster.x-k8s.io/{{ cluster_api_contract_addons }}
kind: ClusterResourceSet
metadata:
  name: clouds-yaml
  namespace: {{ cluster_namespace }}
spec:
  strategy: "Reconcile"
  clusterSelector:
    matchLabels:
      managed-secret: clouds-yaml
  resources:
    - name: clouds-yaml
      kind: Secret
