# {{ ansible_managed }}

#
# https://github.com/SovereignCloudStack/cluster-stacks/tree/main/providers/openstack/scs2
#

---
apiVersion: clusterstack.x-k8s.io/{{ cluster_api_contract_clusterstack }}
kind: ClusterStack
metadata:
  name: {{ openstack_cloud }}
  namespace: {{ cluster_namespace }}
spec:
  autoSubscribe: false
  channel: {{ cluster_series_channel }}
  kubernetesVersion: "{{ kubernetes_release_version }}"
  name: {{ cluster_series }}
  noProvider: true
  provider: openstack
  versions:
    - {{ cluster_series_version }}
