# {{ ansible_managed }}

#
# https://raw.githubusercontent.com/k3s-io/cluster-api-k3s/refs/heads/main/samples/openstack/k3s-template.yaml
#

---
apiVersion: bootstrap.cluster.x-k8s.io/{{cluster_api_contract}}
kind: KThreesConfigTemplate
metadata:
  name: {{cluster_name}}-md-0
  namespace: default
spec:
  template:
    spec:

---
apiVersion: cluster.x-k8s.io/{{cluster_api_contract}}
kind: Cluster
metadata:
  name: {{cluster_name}}
  namespace: default
  labels:
    managed-secret: clouds-yaml
# networking:
#   apiServerAddress: "127.0.0.1"
#   apiServerPort: 6443
spec:
  topology:
    version: "{{ kubernetes_release }}"
    class: "{{ cluster_class | replace(".", "-") }}"
    classNamespace: {{ cluster_namespace }}
    controlPlane:
      replicas: {{cluster_controlplane_replicas}}
    workers:
      machineDeployments:
        - class: default-worker
          name: {{cluster_name}}-md-0
          replicas: {{cluster_workers_replicas}}
    variables:
      - name: controller_flavor
        value: "{{ openstack_controlplane_flavor }}"
      - name: worker_flavor
        value: "{{ openstack_worker_flavor }}"
      - name: worker_root_disk
        value: {{ openstack_worker_rootdisk_size }}
      - name: external_id
        value: "{{ openstack_external_network_id }}"
  clusterNetwork:
    pods:
      cidrBlocks:
      - {{cluster_cidr_pods}}
    serviceDomain: {{cluster_services_domain}}
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/{{cluster_api_contract}}
    kind: KThreesControlPlane
    name: {{cluster_name}}-control-plane
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/{{cluster_api_contract}}
    kind: OpenStackCluster
    name: {{cluster_name}}

---
apiVersion: cluster.x-k8s.io/{{cluster_api_contract}}
kind: MachineDeployment
metadata:
  name: {{cluster_name}}-md-0
  namespace: default
spec:
  clusterName: {{cluster_name}}
  replicas: {{cluster_workers_replicas}}
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/{{cluster_api_contract}}
          kind: KThreesConfigTemplate
          name: {{cluster_name}}-md-0
      clusterName: {{cluster_name}}
      failureDomain: {{openstack_failure_domain}}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/{{cluster_api_contract}}
        kind: OpenStackMachineTemplate
        name: {{cluster_name}}-md-0
      version: "{{kubernetes_release}}"

---
apiVersion: controlplane.cluster.x-k8s.io/{{cluster_api_contract}}
kind: KThreesControlPlane
metadata:
  name: {{cluster_name}}-control-plane
  namespace: default
spec:
  infrastructureTemplate:
    apiVersion: infrastructure.cluster.x-k8s.io/{{cluster_api_contract}}
    kind: OpenStackMachineTemplate
    name: {{cluster_name}}-control-plane
  replicas: 1
  version: "{{kubernetes_release}}"

---
apiVersion: infrastructure.cluster.x-k8s.io/{{cluster_api_contract}}
kind: OpenStackCluster
metadata:
  name: {{cluster_name}}
  namespace: default
spec:
  externalNetwork:
    id: {{openstack_external_network_id}}
  identityRef:
    cloudName: {{openstack_cloud_name}}
    name: k3s-cloud-config
  managedSecurityGroups:
    allNodesSecurityGroupRules:
    - remoteManagedGroups:
      - controlplane
      - worker
      direction: ingress
      etherType: IPv4
      name: BGP (Calico)
      portRangeMin: 179
      portRangeMax: 179
      protocol: tcp
      description: "Allow BGP between control plane and workers"
    - remoteManagedGroups:
      - controlplane
      - worker
      direction: ingress
      etherType: IPv4
      name: IP-in-IP (Calico)
      protocol: 4
      description: "Allow IP-in-IP between control plane and workers"
    allowAllInClusterTraffic: false
  disablePortSecurity: true
  managedSubnets:
  - cidr: {{cluster_cidr_managed_subnet}}
    dnsNameservers:
    - 1.1.1.1

---
apiVersion: infrastructure.cluster.x-k8s.io/{{cluster_api_contract}}
kind: OpenStackMachineTemplate
metadata:
  name: {{cluster_name}}-control-plane
  namespace: default
spec:
  template:
    spec:
      flavor: {{openstack_controlplane_flavor}}
      image:
        filter:
          name: {{openstack_image_name}}
      sshKeyName: {{openstack_ssh_key_name}}

---
apiVersion: infrastructure.cluster.x-k8s.io/{{cluster_api_contract}}
kind: OpenStackMachineTemplate
metadata:
  name: {{cluster_name}}-md-0
  namespace: default
spec:
  template:
    spec:
      flavor: {{openstack_node_flavor}}
      image:
        filter:
          name: {{openstack_image_name}}
      sshKeyName: {{openstack_ssh_key_name}}
