#!/bin/sh

# {{ ansible_managed }}

{% if kubectl_release != "latest" %}
curl -sLO "https://dl.k8s.io/release/v{{kubectl_release}}/bin/linux/amd64/kubectl"
curl -sLO "https://dl.k8s.io/release/v{{kubectl_release}}/bin/linux/amd64/kubectl.sha256"
{% else %}
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl.sha256"
{% endif %}

echo "$(cat kubectl.sha256) kubectl" | sha256sum --check
sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
sudo rm -f kubectl*
sudo mkdir -p /etc/bash_completion.d 2>/dev/null
sudo kubectl completion bash >/etc/bash_completion.d/kubectl
