#!/bin/sh
curl -sLO https://github.com/kubernetes-sigs/cluster-api/releases/download/v{{clusterctl_release}}/clusterctl-linux-amd64
sudo install -o root -g root -m 0755 clusterctl-linux-amd64 /usr/local/bin/clusterctl
sudo strip /usr/local/bin/clusterctl
